:root {
  --iCharacterFontSize: 45px;
  --iCurrentCharacterFontSizeDifference: 5px;

  /* Color Values*/
  --cMainBlue: lightskyblue;
  --cVeryLightMainBlue: rgb(238, 248, 255);
  
  --cDarkGray: rgb(102, 102, 102);
  --cThinGray: rgb(207, 207, 207);
  --cVeryThinGray: rgb(235, 235, 235);

  --cFailed: deeppink;


}