:root {
  --iCharacterFontSize: 45px;
  --iCurrentCharacterFontSizeDifference: 5px;

  /* Color Values*/
  --cMainBlue: lightskyblue;
  
  --cTimerTimes: rgb(102, 102, 102);
  --cTimerLabels: rgb(235, 235, 235);

  --cSettingsIcon: rgb(207, 207, 207);

  --cFailed: deeppink;


}