/*Version 11*/

body {
  margin: 0;
}

/***************************************************************************************************/
/*Static Container*/
/***************************************************************************************************/
.StaticContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IndicatorArrow {
  margin-top: 60vh;
  width: 50px;
  height: 50px;
}

.Timer {
  margin-top: 80px;
  font-size: 2em;
}

/***************************************************************************************************/
/*Character Container*/
/***************************************************************************************************/
.CharactersContainer {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50vh;
  left: 50vw;
  transform: translate(-38px, -40px); /*Ein bisschen nach oben verschieben, damit ungefähr die Mitte des Containers in der Mitte ist, nicht die Ecke*/
                                      /*Außerdem erstes div in diesem Container in die Mitte schieben*/
  font-family: 'Century Gothic', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5em;
}

.Character {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 76px; /* So passen alle Zeichen in das div */
}

.CurrentCharacter {
  color: blue;
}