:root {
  --iCharacterFontSize: 45px;
  --iCurrentCharacterFontSizeDifference: 5px;
}

body {
  margin: 0;
}

/***************************************************************************************************/
/*Static Container*/
/***************************************************************************************************/
.StaticContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IndicatorArrow {
  margin-top: 52vh;
  width: 50px;
  height: 50px;
}

.Timer {
  margin-top: 80px;
  font-size: 2em;
}

/***************************************************************************************************/
/*Character Container*/
/***************************************************************************************************/
.CharactersContainer {
  position: absolute;
  display: flex;
  align-items: center;
  font-family: 'Roboto Mono', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Character {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--iCharacterFontSize);
}

.CurrentCharacter {
  font-size: calc(var(--iCharacterFontSize) + var(--iCurrentCharacterFontSizeDifference));
  font-weight: 700;
  color: lightskyblue;
}

.MoveToLeftTransition {
  transition: left 2s ease-out;
}